/* .tooltip {
    display: none;
} */

.icon {
    display: flex;
    align-items: center;
    color: white;
}

.activeme {
    background: #2b2a2a;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.activeme:hover {
    background: #ffb400;
}

.tooltip {
    opacity: 0;
    background: #000;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    position: absolute;
    z-index: -1;
    margin-left: -90px;
}

.icon:hover .tooltip {
    opacity: 1;
}