.cursor {
    z-index: 999;
    background-color: #ffb400;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px#ffb400, 0 0 60px #ffb400, 0 0 100px #ffb400;
    animation: colors 5s infinite;
    transition: .05s ease;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}